{%  extends 'base.html'%}
{% load static %}
{% block content %}
<div class="text-center fs-2">
    Online <b class="txt-mycolor">Grocery Store<i class="fa-regular fa-address-card"></i></b>
</div>
<div class="row bg-success ">
    <div class="col-sm-6">
     <img src="{% static 'images/mr.webp'%}" style="height:400px;width:880px;"  alt="...">
    </div>
    <div class="col-sm-6 text-light fs-4  my-5">
        Start online grocery store in Lucknow with a multi vendor facility we help you from every corner in designing a website
        which can assist you to get successfully in online market in quick market in quick time. An online grocer is either a brick-and-morter supermarketor grocery
        store that allow online ordering,or a standalone e-commarce service that include grocery item.....
    </div>
</div>
{% endblock %}